<div class="post-content">
  <div class="ui grid">
    <div class="four wide column">
      
    </div>

    <div class="eight wide column">
      <div class="ui segment">
        <h3><a href="/diary/<%= diary._id %>"><%= diary.created_at %></a></h3>
        <pre><%- diary.content %></pre>
      </div>
    </div>
  </div>
</div>
