<div class="nav">
  <div class="ui grid">
    <div class="eight wide left aligned column">
      <a href="/"><h1><%= website.title %></h1></a>
    </div>
    <div class="four wide column">
    </div>
    <div class="four wide right aligned column">
      <div class="ui breadcrumb">
        <% if (user) { %>
          <a class="section" href="/diary/new">New diary</a>
          <div class="divider"> / </div>
          <a class="section" href="/signout">Sign out</a>
        <% } else { %>
          <a class="section" href="/signin">Sign in</a>
          <div class="divider"> / </div>
          <a class="section" href="/signup">Sign up</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
