<% include('./helpers/helpers') %>
<%- include('header') %>
<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <h2 class="ui center aligned header">
      New diary!
    </h2>
    <form class="ui form segment" method="post" enctype="multipart/form-data">


      <div class="field required">
        <div class="ui top attached label yellow"><%- currentDateString() %></div>
        <textarea name="content" rows="20"></textarea>
        <div class="ui pointing label">
          支持 Markdown 语法哦
        </div>
      </div>

      <input type="submit" class="ui yellow button fluid" value="写完啦">
    </form>
  </div>
</div>
<%- include('footer') %>
